.Auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}
.Auth>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-left{
    gap: 2rem;
}
.a-left>img{
    width: 4rem;
    height: 4rem;
}

.Webname>h1{
    font-size: 3rem;
    background-color: green;
    background-image: var(--butt);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.Webname>h6{
    font-size: 0.85rem;
}

.infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:2rem;
}

.infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1;
}

.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.infoButton{
    width: 17rem;
    height: 1.9rem;
    align-items: flex-end;
    font-weight: bold;
    line-height: 2.3;
    padding-top: 5px;
    padding-bottom: 0;

}
.authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div{
    width: 100%;
    align-items:center;
    justify-content: center;
}
.Linked{
    cursor: pointer;
    font-size: 12px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
  }
  
  .Linked::before,
  .Linked::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;
    background-color: #666;
  }
  
  .Linked::before {
    left: 0;
  }
  
  .Linked::after {
    right: 0;
  }
  
  .Linked:hover {
    color: #666;
  }
  
  .Linked:hover::before,
  .Linked:hover::after {
    width: 50%;
  }

  
  
